# Arquivos de dependência do Composer
/vendor/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Arquivos de log e de build
*.log

# Arquivos de configuração de Editores e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
